@using CRM.Domain.ViewModels.Common
@model PagingViewModel

<ul class="pagination pagination-primary m-t-20">
    @if (Model.CurrentPage > 1)
    {
        <li class="page-item"><a class="page-link" onclick="fillPageId(@(Model.CurrentPage - 1))" >قبلی</a></li>
    }
    
    @for (int i = Model.StartPage ; i <= Model.EndPage ; i++)
    {
        if (i == Model.CurrentPage)
        {
            <li class="page-item active"><a class="page-link" onclick="fillPageId(@i)">@i</a></li>
        }
        else
        {
            <li class="page-item"><a class="page-link" onclick="fillPageId(@i)">@i</a></li>
        }
    }

    @if (Model.CurrentPage < Model.EndPage)
    {
        <li class="page-item"><a class="page-link" onclick="fillPageId(@(Model.CurrentPage + 1))">بعدی</a></li>
    }
</ul>
