<div class="modal fade" id="basicModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
                <h5 class="modal-title"></h5>
            </div>
            <div class="modal-body" id="content">
            </div>
            <div class="modal-footer">
                <button type="submit" onclick="SubmitForm()" class="btn btn-success light">ثبت</button>
            </div>
        </div>
    </div>
</div>