@using CRM.Domain.ViewModels.User
@using CRM.Domain.Entities.Account
@model AddMarketerViewModel

@{
    ViewData["Title"] = "ثبت بازاریاب";
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">فیلتر</h4>
            </div>
            <div class="card-body">
                <div class="basic-form">
                    <form asp-action="CreateMarketer" asp-controller="user" asp-area="" method="post" id="filter-search" enctype="multipart/form-data">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label asp-for="FirstName"></label>
                                <input asp-for="FirstName" class="form-control">
                                <span asp-validation-for="FirstName" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <label asp-for="LastName"></label>
                                <input asp-for="LastName" class="form-control">
                                <span asp-validation-for="LastName" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <label asp-for="UserName"> </label>
                                <input asp-for="UserName" class="form-control">
                                <span asp-validation-for="UserName" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <label asp-for="Password"></label>
                                <input type="password" asp-for="Password" class="form-control">
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <label asp-for="Email"></label>
                                <input asp-for="Email" class="form-control">
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <label asp-for="MobilePhone"></label>
                                <input asp-for="MobilePhone" class="form-control">
                                <span asp-validation-for="MobilePhone" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <label asp-for="IntroduceName"></label>
                                <input asp-for="IntroduceName" class="form-control">
                                <span asp-validation-for="IntroduceName" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <label asp-for="FieldStudy"></label>
                                <input asp-for="FieldStudy" class="form-control">
                                <span asp-validation-for="FieldStudy" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <label>سن</label>
                                <input asp-for="Age" value="0" class="form-control">
                                <span asp-validation-for="Age" class="text-danger"></span>
                            </div>

                            <div class="form-group col-md-6">
                                <label asp-for="IrCode"></label>
                                <input asp-for="IrCode" class="form-control">
                                <span asp-validation-for="IrCode" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <label asp-for="Education"></label>
                                <select class="form-control" asp-for="Education" asp-items="@Html.GetEnumSelectList<Education>()"></select>
                                <span asp-validation-for="Education" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <label asp-for="Gender"></label>
                                <select asp-for="Gender" class="form-control" asp-items="@Html.GetEnumSelectList<Gender>()"></select>
                                <span class="text-danger" asp-validation-for="Gender"></span>
                            </div>

                            <div class="form-group col-md-6">
                                <div class="form-group">
                                    <label>عکس :</label>
                                    <label for="ImageFile">
                                        <span type="button" class="btn btn-info">انتخاب عکس</span>
                                    </label>
                                    <input type="file" class="d-none" asp-for="ImageFile" id="ImageFile">
                                    <span class="text-danger" asp-validation-for="ImageFile"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <img src="" id="imgPreview" class="border mx-auto" width="150px" height="150px">
                                </div>
                            </div>
                            <button type="submit" class="btn btn-success">افزودن</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <partial name="_JqueryValidators" />

    <script>
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#imgPreview').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]); // convert to base64 string
            }
        }
        $("#ImageFile").change(function () {
            readURL(this);
        });
    </script>
}