@using CRM.Domain.Entities.Account
@using CRM.Application.Convertors
@using CRM.Application.Extensions
@using CRM.Domain.ViewModels.Leads
@model LeadSelectMarketerViewModel

@{
    var marketerList = ViewBag.Marketers as List<Marketer>;
}

<div class="row">
    <div class="col-lg-12">
        <h4>انتخاب بازار یاب</h4>
    </div>
    <div class="col-lg-12">
        <form method="post" id="SelectedLeadForm">
            <input type="hidden" asp-for="LeadId" value="@Model.LeadId" />
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label>انتخاب شرکت</label>
                    <select class="form-control" asp-for="MarketerId">
                        @foreach (var marketer in marketerList!)
                        {
                            <option value="@marketer.UserId">@marketer.User.GetUserShowName()</option>
                        }
                    </select>
                </div>
            </div>
        </form>
    </div>
</div>